h1, h2  {
  text-align: center;
}

body {
  font-family: "Garamond";
  background-image: url("http://wallpapercave.com/wp/tRqnZad.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #68BBD9;
}

img {
  display: block;
  margin: auto;
  border: 3px double;
  max-height: 400px;
}

section, fieldset {
  display: block;
  float: center;
  margin: auto;
  background: rgba(256, 256, 256, 0.75);
  padding: 10px;
  border-radius: 20px;
  width: 1000px;
}

